h1,
h2 {
  text-align: center;
}

h1 {
  color: mediumseagreen;
}

h2 {
  color: chocolate;
}

hr {
  color: rebeccapurple;
}

app-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
